# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
PORT=
# JWT
JWT_SECRET=
JWT_EXP_TIME=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXP_TIME=
# MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

